.title{
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 15px;
}
.edit{
 margin-right: 5px; 
   
}
.button-add{
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-bottom: 10px;   
}
.select-categorias{
    margin: 20px 100px;
}
.tipo-contain{
    margin: 0px 100px;
}