.instrumentos {
  padding: 20px;
  display: flex;
}

/* Contenedor que envuelve todas las tarjetas */
.ItemInstrumento {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 70%;
}

/* Estilo de cada tarjeta */
.item-instrumento .card {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.item-instrumento .card:hover {
  transform: scale(1.03);
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding: 10px;
}
.cart{
  width: 30%;
  margin-left: 50px;
  border: 1px solid #000;
  border-radius: 5px;
}

.carrito-title {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.carrito-title img{
  width: 60px;
  margin-left: 10px;
}